body {
    background-image: url("cielo2.jpg");
}
h1 {
    text-align: center;
    padding: 5px; /* relleno */
    margin: 10px; /*Margen*/
    border: solid;
    border-color: red;
}

h2 {
    border-bottom: red 10px double;
}

.Wanted {
    margin-left:4.5cm;
}
.Carnet {
    padding: 5px; /* relleno */
    margin: 5px; /*Margen*/
    border: solid;
    border-color: red;
    margin-left:1cm;
    margin-top: 1cm;
    margin-bottom:1cm;
}
.Interes{
    margin-top: 1cm;;
    margin-bottom: 2cm;
}
derecha{
    width: 65%;
    float: right;
    padding: 5px; /* relle<no */
    margin: 10px; /*Margen*/
    border: solid;
    border-color: red;
}
izquierda{
    width: 31%;
    float: left;
    padding: 5px; /* relle<no */
    margin: 10px; /*Margen*/
    border: solid;
    border-color: red;

}

.titulito{
    margin-left: 12.8cm;
}

.titulito1{
    margin-left: 13cm;
}

.titulito2{
    margin-left: 10.2cm;
}

.titulito3{
    margin-left: 11.2cm;
}

.titulito4{
    margin-left: 12cm;
}
.parrafito{
    margin-left: 7cm;
    margin-top: 0.79cm;
}