@font-face{ /*Declaro la fuente con la que quiero que se escriban los titulitos */
    font-family:"bouncy";
    src: url("bouncy.otf");
}

body{   /*Determino la imagen que quiero de fondo   */
    background-image: url("cielo2.jpg");
}
h1 { /* Estetica del titulo, posicion, y detalles de la caja  */
    text-align: center;
    padding: 5px; /* relleno */
    margin: 10px; /*Margen*/
    border: solid;
    border-color: red;
}

h2 { /*Color y definicion de un subrayado de los titulos*/
    border-bottom: red 10px double;
}

.Carnet { /*Estetica de la imagen de clase Carnet, margenes para centrarla a mi gusto y detalles de la caja que lo rodea */
    padding: 5px; /* relleno */
    margin: 5px; /*Margen*/
    border: solid;
    border-color: red;
    margin-left: 1cm;
    margin-top: 1cm;
    margin-bottom:1cm;
}
.Interes{ /* Centro la lista de la clase interes a mi gusto */
    margin-top: 1cm;;
    margin-bottom: 2cm;
}
derecha{ /*Detalles de la caja derecha */
    width: 65%;
    float: right;
    padding: 5px; /* relle<no */
    margin: 10px; /*Margen*/
    border: solid;
    border-color: red;
}
izquierda{/* */
    width: 31%;
    float: left;
    padding: 5px; /* relle<no */
    margin: 10px; /*Margen*/
    border: solid;
    border-color: red;

}
ul {/*Con esto estlizo las listas con una imagen en vez de un punto, no entiendo por que aparecen con el 
    fondo blanco en vez de transparentes al ser png pero bueno lo he intentado con varias fotos y se sigue quedando asi*/
    list-style-image: url("sunny little.png");
}
.Encabezado{ /* Fuentes de los titulos y margenes */
    font-family: bouncy;
}
.titizq{
    font-family: bouncy;
}
.titulito{
    font-family: bouncy;
    margin-left: 12.8cm;
}

.titulito1{
    font-family: bouncy;
    margin-left: 13cm;
}

.titulito2{
    font-family: bouncy;
    margin-left: 10.2cm;
}

.titulito3{
    font-family: bouncy;
    margin-left: 11.2cm;
}

.titulito4{
    font-family: bouncy;
    margin-left: 12cm;
}
.parrafito{
    margin-left: 7cm;
    margin-top: 0.79cm;
}