@font-face{
    font-family:"bouncy";
    src: url("bouncy.otf");
}
body{
    background-image:url("HubbleLegacyField.jpg");
}
h2 {
    font-family: bouncy;
    margin-top: 5cm;
    margin-left: 22.5cm;
    color: cornsilk;
}
canvas {
    margin-left: 15cm ;
    background-color:darkturquoise;
    border-style: solid;
    border-width: 3px;
    border-color:darkmagenta;
    border-radius: 5px;
  }