
.titulo1{
    margin-left: 22cm;
}
.titulo2{
    margin-left: 22cm;
    margin-top: 1cm;
}
#imagen1{
    margin-left: 15cm;
}
.lienzo{
    margin-left: 15cm;
    margin-top: 3cm;
    margin-bottom: 2cm;
}
#table_RGB{
    margin-left: 22cm;
}