body{
    margin-top: 4cm;
    background-image: url("cielo2.jpg");
}
@font-face{
    font-family:"bouncy";
    src: url("bouncy.otf");
}

.titulo1{
    margin-left: 12.5cm;
    margin-top: 1cm;
    font-family: bouncy;
    font-size: medium;
}
.titulo2{
    margin-left: 14cm;
    margin-top: 1cm;
    font-family: bouncy;
    font-size: medium;
}
#imagenes {
    margin-left: 6cm;
}
#botones{
    margin-left: 19.3cm;
    margin-top: 1cm;
    font-family: bouncy;
}
#table_RGB{
    margin-left: 17.5cm;
    margin-top:2cm;
}
